body {
  font-family: monospace;
  background: #f4e3e3;
}

h1 {
  color: #2f3542;
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #2f3542;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 30px;
  border: none;
  border-radius: 10px;
  background: #fff;
  opacity: 90%;
  box-shadow: 10px 10px #f76b8a;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.overview {
  padding-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  color: #f76b8a;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #ffffff;
  background-color: #f76b8a;
}

.weather-forecast-temperature {
  font-size: 18px;
}

.forecast-temperature-max {
  font-weight: bold;
}

.common-cities {
  text-align: center;
  padding-bottom: 20px;
}

a {
  color: #f76b8a;
  text-decoration: none;
}

a:hover {
  color: #2f3542;
  text-decoration: none;
}

.footer {
  padding-top: 30px;
  text-align: center;
}

.btn-primary {
  background: #f76b8a;
  color: #ffffff;
  border: #f76b8a;
  border-radius: 50px;
  margin-left: 10px;
}

.btn-primary:hover {
  background: #2f3542;
}

#city-input {
  margin-left: 30px;
  border-radius: 50px;
  max-width: 90%;
}
